{% extends "sharehold/base.html" %}
{% load staticfiles %}

{% block refs %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/circulation.css' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">
{% endblock %}


{% block circulation_appmenu %}
  <!-- Navbar -->
    {% if user.is_authenticated %}
      {% if perms.circulation.add_boardgamelending %}
          <a class="navbar-nav techfont appmenu" href="{% url 'rentalClient_new' %}">Dodaj klienta</a>
      {% endif %}
      {% if perms.circulation.add_rentalclient %}
          <a class="navbar-nav techfont appmenu" href="{% url 'rentalClient_new' %}">Dodaj klienta</a>
      {% endif %}
    {% endif %}
{% endblock %}
