{% extends "circulation/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron content pl-3">
  <h1>Wypożycz grę</h1>

  <form class="boardgame-form" method="post">
    {% include "sharehold/formfieldsgenerator.html" %}

    {% if request.session.warehouse_context_pk %}
      <button type="submit" class="btn btn-primary">Wypożycz</button>
    {% else %}
      <button type="submit" class="btn btn-primary" disabled>Wypożycz</button>
      <a href="{% url 'warehouse_index' %}" class="btn btn-warning">Wybierz magazyn do pracy</a>
    {% endif %}


  </form>
</div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

{% endblock %}
