{% extends "circulation/base.html" %}
{% load staticfiles %}
{% load pagination %}
{% load warehouseattribute %}

{% block content %}

<div class="jumbotron content pl-3">
  <h1>Przyjmij zwrot</h1>

  <form class="customer_search_form" action="{% url 'circulation_return' %}" method="GET">
    <label for="filter_criteria">Identyfikator klienta</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="submit" class="save btn btn-primary btn-lg mt-0 mb-0">Identyfikuj</button>
      </div>
      <input type="text" class="form-control" id="filter_customerID" name="filter"
      placeholder="Podaj pełny identyfikator klienta">
    </div>
  </form>



  <div class="container-fluid lending_list">

    {% if customer %}
      <h2 class="w-100">Klient: {{ customer.nick }}</h2>

      <a class="btn btn-secondary" href="{% url 'circulation_customerlendings' pk=customer.pk %}">Wszystkie wypożyczenia klienta</a>

      <div class="row no-gutters">
        {% for lending in boardgamelending_list.all %}
          <div class="d-flex flex-wrap col-md-4 col-sm-6 lendingentry p-2">
            {% with commodity=lending.container.commodity %}
              <div class="row no-gutters">
                <h4 class="w-100">{{ commodity.catalogueEntry.itemLabel }}</h4>
                <div class="col-4">
                  {% if commodity.getImage %}
                    <img class="img-responsive img-thumbnail" src="{{commodity.getImage.url}}">
                  {% else %}
                    <img class="img-responsive img-thumbnail" src="{% static 'noimage.png' %}">
                  {% endif %}
                </div>
                <div class="col-8 pl-1">
                  <p>Z magazynu: {{ lending.container.warehouse.name }}</p>
                  <p>Rozpoczęto: {{ lending.issued }}</p>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  {% if perms.circulation.change_boardgamelending %}
                    {% if request.session.warehouse_context_pk %}
                      {% if request.session.warehouse_context_pk == lending.container.warehouse.pk %}
                        <a class="btn btn-primary" href="{% url 'lending_finish' pk=lending.pk %}">Przyjmij zwrot</a>
                      {% else %}
                        <p class="help-block">Zwrot możliwy tylko do magazynu: {{ lending.container.warehouse }}</p>
                      {% endif %}
                    {% else %}
                      <a href="{% url 'warehouse_index' %}" class="btn btn-danger">Wybierz magazyn do pracy</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% endwith %}
          </div>
        {% empty %}
          <p>Brak informacji o niezakończonych wypożyczeniach Klienta.</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% if is_paginated %}
  <div class="container">
    {% paginator 5%}
  </div>
{% endif %}


{% endblock %}
