{% extends "catalogue/base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Wypożyczalnia</h1>
</div>
<div>
    <a href="{% url 'clienthasboardgame_create' %}">wypożycz grę</a>
</div>
<table>
    <thead>
    <td></td>
    </thead>
    {% for clienthasboardgame in clienthasboardgame_list %}
    <tr>
        <td>{{ clienthasboardgame.client}}</td>
        <td>{{ clienthasboardgame.container.commodity }}</td>
        <td>{{ clienthasboardgame.issued }}</td>
        {% if clienthasboardgame.returned is None %}
        <td>oczekuje na zwrot</td>
        <td>
            <a href="{% url 'clienthasboardgame_detail' pk=clienthasboardgame.pk %}">
                przyjmij zwrot
            </a>
        </td>
        {% else %}
        <td>{{ clienthasboardgame.returned }}</td>
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
