{% extends "catalogue/base.html" %}

{% block content %}

<div>{{ clienthasboardgame.client }}</div>
<div>{{ clienthasboardgame.container }}</div>
<div>{{ clienthasboardgame.issued }}</div>
<div>{% if clienthasboardgame.returned is None %}
    <span>Oczekuje na zwrot</span>
    <form method="post">
        {% csrf_token %}
        <button type="submit"
                formaction="{% url 'clienthasboardgame_return' pk=clienthasboardgame.pk %}"
        >
            zarejestruj zwrot
        </button>
    </form>
    {% else %}{{ clienthasboardgame.returned }}
    {% endif %}
</div>
{% endblock %}
