{% extends "catalogue/base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Wypożyczalnia</h1>
</div>
<table>
    <thead>
    <td></td>
    </thead>
    {% for clienthasboardgame in clienthasboardgame_list %}
    <tr>
        <td>{{ clienthasboardgame.client}}</td>
        <td>{{ clienthasboardgame.container.commodity }}</td>
        <td>{{ clienthasboardgame.issued }}</td>
        <td>{% if clienthasboardgame.returned is None %}oczekuje na zwrot
            {% else %}{{ clienthasboardgame.returned }}
            {% endif %}
        </td>
        <td>
            <a href="{% url 'clienthasboardgame_detail' pk=clienthasboardgame.pk %}">
                przyjmij zwrot
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
