{% extends "circulation/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron">
    <h1>Klient - aktualizacja</h1>

  <form class="retalclient-form" method="post">
    {% csrf_token %}

	{% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
	
	{% for field in form.visible_fields %}
	    <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    
    <p>Identyfikatory:</p>
    {{ formset.management_form }}
    
    {% for error in formset.non_form_errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
    {% for set_form in formset %}
        {% for hidden in set_form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <div class="ID_row">
        {% for field in set_form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
        {% endfor %}
        </div>
    {% endfor %}
    
	<button type="submit" class="save btn btn-secondary btn-lg" >Zapisz zmiany</button>
    <a href="{% url 'return_rentalClientList' %}" class="btn btn-default">Anuluj</a>
  </form>
</div>

{% endblock %}
