{% extends "circulation/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron">
  {% if rentalclient.pk != null %}
    <h1>Klient - aktualizacja</h1>
  {% else %}
    <h1>Nowy klient</h1>
  {% endif %}

  <form class="retalclient-form" method="post">
    {% csrf_token %}

	{% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
	
	{% for field in form.visible_fields %}
	      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    
    {% if rentalclient.pk != null %}
        <button type="submit" class="save btn btn-secondary btn-lg" formaction="return_rentalClientList">Zapisz zmiany</button>
    {% else %}
        <button type="submit" class="save btn btn-secondary btn-lg" formaction="return_rentalClientList">Dodaj i zakończ wprowadzanie</button>
        <button type="submit" class="save btn btn-secondary btn-lg" formaction="return_newRentalClient">Dodaj i wprowadź kolejnego</button>
    {% endif %}
    <a href="{% url 'return_rentalClientList' %}" class="btn btn-default">Anuluj</a>
  </form>
</div>

{% endblock %}
