@import url("/static/sharehold.css");

.barcodefont{
  font-family: 'Libre Barcode 39', cursive;
  font-size: 2em;
  color: black;
}


.barcodetextfont{
  font-family: 'Libre Barcode 39 Text',cursive;
  font-size: 2em;
  text-align: center;
  color: black;
}

.barcodefont{
  font-size: 3em;
  margin-bottom: 10px;
}

.cataloguelist{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
  background-color: white;
}

.catalogentry{
  background-color: var(--color6th);
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  flex-basis: 300px;
  min-width: 250px;
  max-width: 320px;
  min-height: 150px;
  flex-grow: 1;
  flex-shrink: 2;
}

.catalogentry img {
  max-width: 150px;
  max-height: 150px;
}

.catalogentry h5 a {
  color: var(--color2nd);
}

.catalogentry h5 a:hover {
  color: var(--color4th);
}


td {
    padding: 5px;
    text-align: center;
}

.boardgameedition{
  border: 3px solid var(--color5th);
  color: var(--color2nd);
  margin-bottom: 5px;
}

.boardgameedition .btn {
  align-self: flex-end;
}

.boardgameedition .img {
  text-align: center;
}
