@import url("/static/sharehold.css");

.barcodefont{
  font-family: 'Libre Barcode 39', cursive;
  font-size: 2em;
  color: black;
}


.barcodetextfont{
  font-family: 'Libre Barcode 39 Text',cursive;
  font-size: 2em;
  text-align: center;
  color: black;
}

.barcodefont{
  font-size: 3em;
  margin-bottom: 10px;
}

.cataloguelist{
}

.catalogentry{
  background-color: var(--color1st);
  margin: 5px 5px;
  min-height: 200px;
}

.catalogentry h5 a {
  color: var(--color2nd);
}

.catalogentry h5 a:hover {
  color: white;
}


td {
    padding: 5px;
    text-align: center;
}

.boardgameedition{
  border: 3px solid var(--color5th);
  color: var(--color2nd);
  margin-bottom: 5px;
}

.boardgameedition .btn {
  align-self: flex-end;
}

.boardgameedition .img {
  text-align: center;
}
