.techfont{
  font-family: 'Russo One', sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.barcodefont{
  font-family: 'Libre Barcode 39', cursive;
  font-size: 3em;
}


.barcodetextfont{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5em;
  text-align: center;
}

.barcodefont{
  font-size: 3em;
  margin-bottom: 10px;
}


.bigbrand{
  font-size: 1.5em;
}

.catalogentry{
  margin-left: 3px;
}

.boardgameedition{
  align-items: center;
}
