@import url("/static/sharehold.css");

.nav-circulation {
  color: var(--color2nd);
  background-color: var(--color5th);
}

.ID_row{
  margin: 5px 5px;
}

.ID_row label{
  margin: 0px 10px;
}
