{% extends "sharehold.html" %}

{% block sidemenu %}
  <a class="navbar-nav techfont mainmenu nav-catalogue" href="{% url 'catalogue_entries' %}">Katalog</a>
  {% block catalogue_appmenu %}
  <!-- application submenu -->
  {% endblock %}
  <a class="navbar-nav techfont mainmenu nav-circulation" href="{% url 'BoardGameLending_create' %}">Wypożyczalnia</a>
  {% block BoardGameLending_appmenu %}
  <!-- application submenu -->
  {% endblock %}
  <a class="navbar-nav techfont mainmenu nav-customers" href="{% url 'circulation_entries' %}">Klienci</a>
  {% block circulation_appmenu %}
  <!-- application submenu -->
  {% endblock %}
  <a class="navbar-nav techfont mainmenu nav-warehouse" href="{% url 'warehouse_index' %}">Magazyny</a>
  {% block warehouse_appmenu %}
  <!-- application submenu -->
  {% endblock %}
{% endblock %}

{% block content %}
<!-- Content block -->
{% endblock %}
