<!DOCTYPE html>
{% load staticfiles %}


<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>Sharehold</title>

    <!-- Bootstrap -->
    <!-- todo: substitude minified bootstrap with one placed at the system server -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'sharehold.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">

    <!-- Icons -->
    <!-- http://google.github.io/material-design-icons/ -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block refs %}
    <!-- additional references -->
    {% endblock %}

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  </head>
  <body class="loader">

    <!-- Top Navbar -->
    <nav class="navbar topnavbar techfont">
      <ul class="navbar-nav justify-content-start col-2">
        <li><a class="navbar-item techfont topnav-la" href="{% url 'welcome' %}"><i class="material-icons">home</i></a></li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        {% if user.is_authenticated %}
          <li><a class="navbar-item techfont topnav-ra" href="{% url 'logout' %}">{{user.username}}<i class="material-icons">exit_to_app</i></a></li>
        {% else %}
          <li><a class="navbar-item topnav-ra" href="{% url 'login' %}">Zaloguj się<i class="material-icons">account_box</i></a> </li>
        {% endif %}
      </ul>
    </nav>

    <!-- Side menu -->
    <div class="canvas container-fluid row">
      <nav class="navbar flex-column col-2 sidemenu">
          <a class="navbar-brand logo" href="{% url 'welcome' %}">
            <img  class="img" src="{% static 'logo.png' %}" width="100" height="100" alt="">
          </a>

          {% block sidemenu %}
            <!-- <a class="navbar-nav techfont mainmenu" href="{% url 'catalogue_entries' %}">Katalog</a> -->
            <!-- {% block catalogue_appmenu %} -->
            <!-- application submenu -->
            <!-- {% endblock %} -->
            <!-- <a class="navbar-nav techfont mainmenu" href="{% url 'circulation_entries' %}">Klienci</a> -->
            <!-- {% block circulation_appmenu %} -->
            <!-- application submenu -->
            <!-- {% endblock %} -->
            <!-- <a class="navbar-nav techfont mainmenu" href="{% url 'warehouse_index' %}">Magazyny</a> -->
            <!-- {% block warehouse_appmenu %} -->
            <!-- application submenu -->
            <!-- {% endblock %} -->
          {% endblock %}
      </nav>

      <div class="canvas flex-column col-10 " >
        {% block content %}
        <!-- Content block -->
        {% endblock %}
      </div>
    </div>

  </body>
</html>
