@import url("/static/pagination.css");

:root {
    --color1st: rgba(183, 183, 183, 1);
    --color2nd: rgba(23, 55, 83, 1);
    --color3rd: rgba(186, 216, 60, 1);
    --color4th: rgba(255, 136, 17, 1);
    --color5th: rgba(254, 208, 0, 1);
    --color6th: rgba(248, 248, 248, 1);
}

body {
  background-color: white;
}

.topnavbar {
  background-color: var(--color2nd);
  min-height: 2em;
}

.topnav-la {
  background-color: var(--color2nd);
  color: white;
  font-size: 1.5em;
  /* padding-left: 3px; */
}

.topnav-ra {
  background-color: var(--color2nd);
  color: white;
  font-size: 1.5em;
}

.topnav-la:hover, .topnav-ra:hover {
  color: var(--color2nd);
  background-color: var(--color4th);
}

.sidemenu {
  justify-content: flex-start;
  background-color: var(--color2nd);
  padding: 0px;
  min-height: 2000px;
}

.logo {
  width: inherit;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  text-align: center;
}

.brand {
  width:inherit;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.techfont{
  font-family: 'Russo One', sans-serif;
}

i {
  vertical-align: middle;
}

.mainmenu {
  background-color: var(--color2nd);
  color: white;
  font-size: 1.2em;
  width: inherit;
  min-height: 3em;
  padding-left: 3px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color1st);
}

.mainmenu:hover {
  color: var(--color2nd);
  background-color: var(--color4th);
}

.appmenu {
  background-color: var(--color2nd);
  color: white;
  font-size: 1em;
  padding-left: 1rem;
  width: inherit;
  min-height: 2em;
  border-bottom: 1px solid var(--color1st);
}

.appmenu:hover {
  color: var(--color2nd);
  background-color: var(--color4th);
}

.canvas {
  margin: 0px;
  padding: 0px;
}

.content {
  background-color: white;
  min-height: 500px;
  color: var(--color2nd);
  padding: 32px 0px 32px 0px;
  margin: 0px 0px 0px 16px;
}

.btn-primary {
  background-color: var(--color3rd);
  border-color: var(--color3rd);
  color: var(--color2nd);
  margin: 3px;
}

.btn-warning {
  background-color: var(--color4th);
  border-color: var(--color4th);
  color: var(--color2nd);
  margin: 3px;
}

.btn-default {
  color: var(--color2nd);
}

.btn:hover {
  background-color: var(--color2nd);
  border-color: var(--color2nd);
  color: white;
}
