{% extends "sharehold/base.html" %}
{% load staticfiles %}

{% block refs %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">
{% endblock %}

{% block catalogue_appmenu %}
  <!-- Navbar -->
  {% if user.is_authenticated %}
    {% if perms.catalogue.add_boardgameitem %}
      <a class="navbar-nav techfont appmenu" href="{% url 'boardgame_new' %}">Kataloguj grę</a>
    {% endif %}
    {% if perms.catalogue.add_boardgamecommodity %}
      <a class="navbar-nav techfont appmenu" href="{% url 'boardgame_new_edition' %}">Kataloguj wydanie</a>
    {% endif %}
  {% endif %}
{% endblock %}

    <!-- Content block -->
  {% block content %}
  {% endblock %}
