{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Gry planszowe w naszej kolekcji</h1>
</div class="row">
  {% for item in boardgameitem_list %}
     <div class="col-lg-3 col-md-4 col-sm-6 catalogentry">
       <h2> <a href="{% url 'boardgame_detail' pk=item.pk %}"> {{item.getTitle}} </a> </h2>
       <h2 class="barcodefont">{{item.codeValue}}</h2>
       <h2 class="barcodevalue">{{item.codeValueToStr}}</h2>
       <!-- TODO: przycisk powinien być dostępny tylko dla uprawnionych do edytowania wpisów do katalogu -->
       <a href="{% url 'boardgame_edit' pk=item.pk %}" class="btn btn-warning">Edytuj</a>
     </div>
  {% endfor %}

{% endblock %}
