{% extends "catalogue/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron content pl-3">
  {% if boardgameitem.pk != null %}
    <h1>Gra planszowa aktualizacja</h1>
  {% else %}
    <h1>Nowa gra planszowa</h1>
  {% endif %}

  <form class="boardgame-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {{ field.get_queryset }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}


    {% if boardgameitem.pk != null %}
      <div class="bgeditons">
        <label>Dostępne wydania</label>
        {% include "catalogue/boardgameeditions.html" %}
      </div>
      {% if perms.catalogue.add_commodity %}
        <button type="submit" class="save btn btn-primary btn-warning">Aktualizuj grę</button>
        <a href="{% url 'boardgame_new_edition' bgpk=boardgameitem.pk %}" class="btn btn-warning">Dodaj wydanie</a>
      {% endif %}
    {% else %}
      <button type="submit" class="save btn btn-primary btn-lg" formaction="repeat_add_boardgame">Dodaj i wprowadź następną</button>
      <button type="submit" class="save btn btn-secondary btn-lg" formaction="boardgamelist_return">Dodaj i wróć do katalogu</button>
      <button type="submit" class="save btn btn-secondary btn-lg" formaction="return_home">Dodaj i zakończ wprowadzanie</button>
    {% endif %}
    <a href="{% url 'catalogue_entries' %}" class="btn btn-default">Anuluj</a>
  </form>
</div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}
