{% extends "catalogue/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron content">
  {% if boardgamecommodity.pk != null %}
    <h1>Aktualizacja wydania gry planszowej</h1>
  {% else %}
    <h1>Dodanie wydania gry planszowej</h1>
  {% endif %}

  <form class="boardgamecommodity-form" enctype="multipart/form-data" method="post">
    {% include "sharehold/formfieldsgenerator.html" %}
    
    {% if boardgamecommodity.pk != null %}
      <button type="submit" class="save btn btn-primary btn-warning">Aktualizuj</button>
    {% else %}
      <button type="submit" class="save btn btn-primary btn-lg">Dodaj</button>
      <!-- formaction="return_home" -->
      <!-- <button type="submit" class="save btn btn-primary btn-lg" formaction="repeat_add_boardgame">Dodaj i wprowadź następną</button>
      <button type="submit" class="save btn btn-secondary btn-lg" formaction="boardgamelist_return">Dodaj i wróć do katalogu</button>
      <button type="submit" class="save btn btn-secondary btn-lg" formaction="return_home">Dodaj i zakończ wprowadzanie</button> -->
    {% endif %}
    <a href="{% url 'catalogue_entries' %}" class="btn btn-default">Anuluj</a>
  </form>
</div>

<!-- autoselect jquery -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

{% endblock %}
