<div class="container text-center" >
  <div class="row">
    {% for commodity in boardgameitem.commodities.all %}
      <div class="col-md-4 col-sm-6 boardgameedition">
        {% if commodity.description %}
          <p class='text-left'>{{ commodity.description }}</p>
        {% else %}
          <p class='text-left'>Brak dodatkowych informacji o&nbsp;wydaniu</p>
        {% endif %}
        {% if commodity.boxTopImage %}
          <img class="img-responsive img-thumbnail" src="{{commodity.boxTopImage.url}}">
        {% endif %}
        {% if commodity.boxFrontImage %}
          <img class="img-responsive img-thumbnail" src="{{commodity.boxFrontImage.url}}">
        {% endif %}
        {% if commodity.boxSideImage %}
          <img class="img-responsive img-thumbnail" src="{{commodity.boxSideImage.url}}">
        {% endif %}
        <h2 class="barcodetextfont"> {{commodity.codeValue}} </h2>
        {% if perms.catalogue.change_boardgamecommodity %}
          <a href="{% url 'boardgame_edition_edit' pk=commodity.pk %}" class="btn btn-warning">Aktualizuj wydanie</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
