{% extends "catalogue/base.html" %}
{% load staticfiles %}
{% load pagination %}

{% block content %}

<div class="jumbotron content">

  <h1>Gry planszowe w naszej kolekcji</h1>

  <form class="catalogue_search_form" action="{% url 'catalogue_entries' %}" method="GET">
    <label for="filter_criteria">Ograniczenie listy</label>
    <input type="text" class="form-control" id="filter_criteria" autofocus name="filter"
      placeholder="Podaj kryteria wyszukiwania" value={{ request.GET.filter }}>
    <button type="submit" class="save btn btn-primary btn-lg" name="search" value="barcode">Szukaj kodu paskowego</button>
    <button type="submit" class="save btn btn-secondary btn-md" name="search" value="title">Szukaj tytułu</button>
  </form>

  <div class="jumbotron cataloguelist row">
    {% for item in catalogueitem_list %}
      <div class="d-flex flex-wrap col-xl-2 col-md-3 col-sm-5 catalogentry">
        {% if item.getImage %}
          <img class="img-fluid w-50" src="{{item.getImage.url}}">
        {% else %}
          <img class="img-fluid w-50" src="{% static 'noimage.png' %}">
        {% endif %}
        <div class="d-flex flex-column w-50 justify-content-start align-items-start">
          {% if perms.catalogue.change_boardgameitem %}
            <a href="{% url 'boardgame_edit' pk=item.pk %}" class="btn btn-block btn-warning">Edytuj grę</a>
          {% endif %}
          {% if perms.catalogue.add_commodity %}
            <a href="{% url 'boardgame_new_edition' bgpk=item.pk %}" class="btn btn-block btn-warning">Dodaj wydanie</a>
          {% endif %}
        </div>
        <div class="w-100"></div>
        <h5 class="align-self-start"> <a href="{% url 'boardgame_detail' pk=item.pk %}"> {{item.getTitle}} </a> </h5>
      </div>
    {% endfor %}
  </div>
</div>

{% if is_paginated %}
  <div class="container">
      {% paginator %}
  </div>
{% endif %}

{% endblock %}
