{% extends "catalogue/base.html" %}
{% load pagination %}

{% block content %}

<div class="jumbotron content">

  <h1>Gry planszowe w naszej kolekcji</h1>

  <form class="catalogue_search_form" action="{% url 'catalogue_entries' %}" method="GET">
    <label for="filter_criteria">Ograniczenie listy</label>
    <input type="text" class="form-control" id="filter_criteria" autofocus name="filter"
      placeholder="Podaj kryteria wyszukiwania" value={{ request.GET.filter }}>
    <button type="submit" class="save btn btn-primary btn-lg" name="search" value="barcode">Szukaj kodu paskowego</button>
    <button type="submit" class="save btn btn-secondary btn-md" name="search" value="title">Szukaj tytułu</button>
  </form>

  <div class="container cataloguelist">
    <div class="row justify-content-around">
      {% for item in catalogueitem_list %}
         <div class="col-xl-2 col-md-3 col-sm-5 catalogentry">
           <h5> <a href="{% url 'boardgame_detail' pk=item.pk %}"> {{item.getTitle}} </a> </h5>
           <!-- <h2 class="barcodefont">{{item.codeValue}}</h2> -->
           <!-- <h2 class="barcodevalue">{{item.codeValueToStr}}</h2> -->
           {% if perms.catalogue.change_boardgameitem %}
              <a href="{% url 'boardgame_edit' pk=item.pk %}" class="btn btn-warning">Edytuj grę</a>
           {% endif %}
           {% if perms.catalogue.add_commodity %}
             <a href="{% url 'boardgame_new_edition' bgpk=item.pk %}" class="btn btn-warning">Dodaj wydanie</a>
           {% endif %}
         </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if is_paginated %}
  <div class="container">
      {% paginator %}
  </div>
{% endif %}

{% endblock %}
