{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="jumbotron content pl-3">
    <h2>Podaj swoje dane użytkownika systemu</h2>

    {% if form.errors %}
      <p>Nazwa użytkownika lub hasło nie są poprawne.</p>
    {% endif %}

    <form  action="{% url 'login' %}" method="POST">
      {% csrf_token %}
        {% include "sharehold/formfieldsgenerator.html" %}
        <input type="submit" class="btn btn-primary" value="Potwierdź">
        <input type="hidden" name="next" value="{{next}}">

    </form>

  </div>
{% endblock %}
